body{
  margin: 0;
  padding: 0;
  background:black;
  box-sizing: border-box;
}

.h2{
 color:#C96E1C;
 text-align: center;
 margin-top: 20px;
 font-size: 50px;
}
#first{
 color:#C96E1C;
 text-align: center;
 margin:280px 100px;;
}
.h5{
  font-size:20px;
  margin: 20px;
  color:#C96E1C;
  text-align: center;
}
#search{
  margin-left: 15%;
  width: 70%;
}

hr{
    display: inline-block;
    border: 1px solid white;
  }

.images{
  width: 28%;
  margin: 5px;

}

  #picture{
  width: 90%;
  margin-left:10%;
  margin-top: 30px;

  }
  .gmaps {
  height:250px;
  width: 70%;
  margin-left:15%;
  margin-top: 50px;
  box-sizing: border-box;
  }
  .button{
    width: 50%;
    background-color: #FE7E11;
    border: #FE7E11;
    margin-left: auto;
    margin-right: auto;

  }
  .button:hover{
    background-color: #C96E1C;
  }
  .images-data{
    width: 100%;
    border: 2px solid white;

  }
  .container-images{
    background: gray;
    margin: 20px;
    text-align: center;
  }

  .text-center{
    margin-left: 15%;
    font-size: 30px;
    background-color: #F8F5F8;
  }
  .center{
    text-align: center;
  }

   .images-modal{
     width: 200%;
    }
@media (max-width :768px){

.col-1 {
    width: 8.333333%;
  }

  .col-2 {
    width: 16.666667%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.333333%;
  }

  .col-5 {
    width: 41.666667%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33333%;
  }

  .col-8 {
    width: 66.666667%;
  }

  .col-9 {
    width: 75%;
  }

  .col-12 {
     width: 100%;
  }

}
